{
  // I want to use babel-eslint for parsing!
  // p.s. thanks dan abramov!
  // https://medium.com/@dan_abramov/lint-like-it-s-2015-6987d44c5b48
  "parser": "babel-eslint",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
  // To give you an idea how to override rule options:
  "rules": {
  }
}